*{
    padding: 0;
    margin: 0;
}
.game{
    width: 255px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: system-ui;
}
.title{
    background-color: #f25;
    padding: 15px 40px;
    margin: 15px 0;
}
span{
    color: fa0;
}
.square{
    width: 80px;
    height: 80px;
    background-color: #f25;
    float: left;
    margin: 2px;
    font-size: 55px;
    font-weight: bold;
}
.square:hover{
    background-color: black;
}